body {
    font-family: 'Neuton', serif;
    font-weight: lighter;
    background-color: #ffffff;
    color: #555555;
    margin: 0.25em;
}

header, footer, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

header, footer {
    font-weight: lighter;
    font-size: small;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    border-bottom: 0.1em solid;
    border-top: 0.1em solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    border-bottom: 0.1em dotted;
    border-top: 0.1em solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

a {
    text-decoration: none;
    color: #3388ff;
}

a:visited {
    color: #8833ff;
}

@media only screen and (min-width: 768px) {
    h1 {
        color: inherit;
        background-color: inherit;
        font-size: 3em;
        padding: 0;
        border: 0;
    }

    h2 {
        font-size: 1.5em;
        background: none;
        color: inherit;
        padding: 0;
        border: 0;
    }

    body {
        margin: 2em;
    }
}