body {
    font-family: serif;
    letter-spacing: 0.7;
    background-color: white;
    background: linear-gradient(to right, rgb(255,255,255) 80%, rgb(230,230,230) 99.5%);
    color: rgb(50,35,0);
    margin: 0.25em;
    line-height: 1.5em;
}

b {
    font-weight: bold;
}

body article {
    text-align: justify;
}

body header, h1, body#content h2 {
    filter: blur(0.1q);
}

header, footer, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 1;
    text-align: left;
}

header, footer {
    font-weight: lighter;
    font-size: small;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    border-bottom: 0.1em solid;
    border-top: 0.1em solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    border-bottom: 0.1em dotted;
    border-top: 0.1em solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

nav {
    margin-bottom: 0.25em;
    background-color: #555555;
    color: white;
    font-family: sans-serif;
    font-size: smaller;
}

nav ol {
    margin: 0;
    padding: 0.25em;
}

nav ol li {
    list-style-type: none;
    padding: 0;
}

nav ol li a {
    color: white;
}

nav ol li a:visited {
    color: white;
}

nav ol li a:before {
    content: "« ";
}

#blurb p:first-of-type {
    margin-top: 0;
}

#blurb h2 {
    margin-bottom: 0.25em;
    background-color: #555555;
    color: white;
    font-family: sans-serif;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#blurb {
    text-align: left;
    font-size: smaller;
}

#blurb img#portrait {
    display: inline-block;
    float: left;
    max-width: 40%;
    margin-right: 1em;
    filter: blur(0.5px) brightness(1.5) contrast(5) grayscale(1.0) opacity(.75);
}

#blurb p {
    display: inline-block;
    max-width: 50%;
}

#blog-index article header h2 {
    font-size: 1.5em;
    border: none;
    margin-top: 0;
    padding-top: 0;
}

#blog-index article {
    border-bottom: 0.1em dotted;
    margin-bottom: 0.5em;
}

#blog-index article:last-of-type {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: #333333;
}

a:visited {
    color: #888888;
}

img {
    max-width: 100%;
    filter: blur(0.1q) contrast(3) saturate(4.1) grayscale(1.0) opacity(.75);
}

code {
    font-weight: bold;
}

code.block {
    display: block;
    text-align: left;
    white-space: pre-wrap;
    margin: 1em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
}

div.embedded-video {
    margin: 1em;
}

@media only screen and (min-width: 768px) {
    h1 {
        color: inherit;
        background-color: inherit;
        font-size: 3em;
        padding: 0;
        border: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.5em;
        background: none;
        color: inherit;
        padding: 0;
        border: 0;
    }

    body {
        margin: 2em;
        margin-left: 22em;
        padding-right: 5em;
    }

    #blurb {
        position: fixed;
        top: 0;
        left: 0;
        width: 15em;
        padding: 2em;
        padding-left: 5em;
        text-align: left;
    }

    #blurb h2 {
        background-color: inherit;
        color: inherit;
        font-size: medium;
        padding: 0;
    }

    #blurb img#portrait {
        max-width: 100%;
        display: inline;
        margin-right: 0;
    }

    #blurb p {
        max-width: 100%;
        display: block;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 15em;
        padding: 2em;
        padding-left: 5em;
    }

    nav {
        position:  initial;
        background-color: inherit;
    }

    nav ol li a {
        color: #333333;
    }

    nav ol li a:visited {
        color: #888888;
    }
}