<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
    <main id="content">
      <header>
        <h1>{{title}}</h1>
        <p id="timeframe">{{#timeframe}}{{_}}{{/timeframe}}</p>
        <p id="materials">{{#materials}}{{_}}{{/materials}}</p>
      </header>
      <div id="description">{{#description}}{{{_}}}{{/description}}</div>
        <div id="main-image"><img src="{{imageURL}}"/></div>
    </main>
    <footer>
      <small id="copyright">&copy; 2013-2021 Jim Kinsey</small>
    </footer>
  </body>
</html>