<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
    <link href="{{#furniture}}gallery.css{{/furniture}}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ol>
        <li><a id="gallery-home-link" href="/gallery">Gallery</a></li>
        {{#series}}<li><a id="series-link" href="{{url}}">{{title}}</a></li>{{/series}}
      </ol>
    </nav>
    <main id="content">
      <div class="placard">
        <header>
          <h1>{{title}}</h1>
          <p id="timeframe">{{#timeframe}}{{_}}{{/timeframe}}</p>
          <p id="materials">{{#materials}}{{_}}{{/materials}}</p>
        </header>
        <div id="description">{{#description}}{{{_}}}{{/description}}</div>
      </div>
      <div id="main-image"><img src="{{imageURL}}"/></div>
    </main>
    <footer>
      <small id="copyright">&copy; 2013-2021 Jim Kinsey</small>
    </footer>
  </body>
</html>