<section id="blurb">
  <header>
    <h2>About</h2>
  </header>
  <p>Jim Kinsey is an English software engineer based in Berlin. Currently at Springer Nature, formerly of BBC News & Sport.</p>
  <img id="portrait" src="https://static.jimkinsey.com/furniture/portrait-small.jpg" title="Portrait of Jim Kinsey" alt="3/4 bust of a pasty, bespectacled white man who needs a shave standing in front of a book case" />
  <section id="external-links">
      <header><h3>Links</h3></header>
      <ul>
          <li>Twitter: <a href="https://twitter.com/kinjacono" title="Jim Kinsey on Twitter">@kinjacono</a></li>
      </ul>
  </section>
  <section id="support">
      <header><h3>Support me</h3></header>
      <p>If you get any value from my writing, please feel free to get me a coffee!</p>
      <a id="ko-fi-link" href="https://ko-fi.com/H2H4N4QJ">Support me on Ko-fi</a>
  </section>
</section>