<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="{{title}}"/>
    <title>{{title}}</title>
    <link href="{{#furniture}}gallery.css{{/furniture}}" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <ol>
        <li><a id="gallery-home-link" href="/gallery">Gallery</a></li>
      </ol>
    </nav>
    <main id="content">
      <header>
        <h1>{{title}}</h1>
      </header>
      {{#description}}<div id="series-description">{{{_}}}</div>{{/description}}
      <ul>{{#artworks}}<li class="work">
        <a class="artwork-link" href="{{url}}">{{title}}</a><br/>
        <a href="{{url}}"><img id="thumbnail" src="{{thumbnailURL}}"></a>
      </li>{{/artworks}}
      </ul>
    </main>
    <footer>
      <small id="copyright">&copy; 2013-2021 Jim Kinsey</small>
    </footer>
  </body>
</html>