<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edit series</title>
  </head>
  <body>
    <header>
      <h1>Create a series</h1>
    </header>
    <section id="series-editing">
      <h2>Select</h2>
      <form id="series-select" action="/admin/series/edit" method="GET">
        <p>
          <label>Series</label>
          <select name="series">
            {{#allSeries}}<option value="{{id}}">{{id}}</option>{{/allSeries}}
          </select>
        </p>
        <button type="submit">Edit</button>
      </form>
      <h2>Edit</h2>
      {{#series}}
      <form class="series" action="/admin/series/edit" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
        <p>
          <label>ID</label>
          <input name="id" type="text"  value="{{id}}"/>
        </p>
        <p>
          <label>Title</label>
          <input name="title" type="text" value="{{title}}"/>
        </p>
        <p>
          <label>Description</label>
          <textarea name="description">{{{description}}}</textarea>
        </p>
        <button type="submit">Publish</button>
      </form>
      {{/series}}
    </section>
  </body>
</html>