<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{#twitterMetadata}}
    <meta name="twitter:card" content="{{card}}"/>
    {{/twitterMetadata}}
    {{#ogMetadata}}
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{description}}"/>
    {{/ogMetadata}}
    <title>{{title}}</title>
    <link href="{{#furniture}}/blog.css{{/furniture}}" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <ol>
        <li><a href="/blog/">Blog Index</a></li>
      </ol>
    </nav>
    <article id="content">
      <header><small><time>{{lastModified}}</time></small></header>
      {{{contentHtml}}}
    </article>
    {{> blog-blurb}}
    <footer>
      <small id="copyright">&copy; 2016-2017 Jim Kinsey</small>
    </footer>
  </body>
</html>