body {
  font-family: sans-serif;
}

nav {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

nav ol {
  margin: 0;
  padding: 1em;
}

nav li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav li:after {
  content: '/';
  padding: 0 1em 0 1em;
  margin: 0;
}

nav li a {
  color: grey;
  text-decoration: none;
  border-bottom: dotted 1px grey;
}

div.placard {
  max-width:  20%;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
}

.placard h1 {
  font-size: 1em;
}

li.work {
  list-style-type: none;
  display: inline-block;
  padding: 1em;
}

li.work .artwork-link {
  display: none;
}

.series {
  border-bottom: 1px dotted grey;
  margin-bottom: 1em;
  border-top: 1px dotted grey;
  margin-top: 1em;
  padding-top: 0;
}

.series header {
  display: inline-block;
  max-width: 20%;
  vertical-align: top;
  padding: 0 1em 0 1em;
  margin: 0;
}

.series header h2 {
  margin-top: 1.5em;
  padding-top: 0;
}

.series ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#main-image {
  max-width: 60%;
  display: inline-block;
}

#main-image img {
  max-width: 100%;
}

#materials {
  font-size: 0.8em;
  font-style: italic;
}

#timeframe {
  font-size: 0.8em;
}

#copyright {
  padding: 1em;
  font-size: 0.8em;
}